@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

/* 
_____ COLORS _____

#141414 -> black 
#EEF0F2 -> white
#0D21A1 -> white blue
#011638 -> dark blue
#EEC643 -> yellow 

*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Capriola', sans-serif;

    /* font-family: 'Raleway', sans-serif; */

}


/* ----------------- HEADER ---------------- */


.left-side-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: auto 200px
}

.right-side-header {
    margin-right: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
}


.nav-bar-header ul li {
    display: inline;
    font-weight: 400;
    margin: 0 20px;
    color: white;
}

.nav-bar-header ul li:hover {
    color: #a10d0d;
    cursor: pointer;
}

.class-center-logo {
    width: 80px;
    display: inline;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #141414;
}


/* ----------------- FIRST PAGE ---------------- */

.banner {
    background: rgb(56, 55, 55);
    background: radial-gradient(circle, rgb(39, 39, 39) 0%, #141414 100%);
    position: relative;
    background-size: cover;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    text-align: center;
}

.main {
    text-transform: capitalize;
    margin-top: 175px;
    width: 600px;
}

.less-important {
    color: rgba(190, 190, 190, 0.753);
    text-align: center;
    padding: 0 150px;
}

.header {
    position: sticky;
    top: 0;
    margin: 0 auto;
    max-width: 100%;
    z-index: 999;
}


.service-link {
    color: rgba(255, 255, 255, 0.593);
    text-decoration: underline;
}

.service-link:hover {
    color: #ffffffbc;
}

a:hover {
    color: #EEC643;

}

#yellow {
    color: #EEC643;

}

#oo {
    color: white;
    font-size: 28px;
}

#purple {
    color: rgb(247, 100, 161);
}

.banner p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 50px 250px;
}

.line2,
.line3,
.line4 {
    width: 500px;
    height: 4px;
    margin: 0 auto;
    visibility: hidden;
}

.line2,
.line3 {
    background-color: #0D21A1;
}

#blue {
    color: #76a8e9;
}

#red {
    color: #e81e1e;
}

.presentation {
    background-color: #0D21A1;
    padding: 100px;
    color: white;
    gap: 20px;
}

.stack {
    margin-top: 250px;
}

.presentation-left {
    margin: 30px;
}

.presentation h2 {
    font-size: 50px;
}

.presentation-left p {
    line-height: 29px;
    font-size: 26px;
    line-height: 35px;
    margin-bottom: 50px;
}

.presentation-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.less-opacity {
    color: rgba(255, 255, 255, 0.593);
}

.atos-image-one {
    display: block;
    margin: 30px auto;
    width: 600px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.presentation-img {
    width: 600px;
}

.line5 {
    background: linear-gradient(90deg, #EEC643 0%, rgba(13, 33, 161, 1) 100%);
    width: 400px;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 70px;

}

footer {
    background-color: #141414;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 40px;
    flex-direction: row-reverse;
}

.person {
    display: flex;
    align-items: center;
}

.person-icon {
    background-color: white;
    margin: 5px 5px;
}


.navigation h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.navigation ul li {
    margin: 10px auto;
}

.navigation ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.creators {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.main-presentation-text {
    padding: 0 50px;

}

.link-presentation:hover {
    color: rgb(148, 148, 148);
}

.social-media {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.social-media-icons {
    display: flex;

}

.social-media-icon ul li {
    text-decoration: none;
    list-style: none;
}

.our-networks {
    margin: 10px;
}

@media screen and (max-width: 1273px) {
    .presentation-img {
        width: 500px;
    }

    .class-center-logo {
        display: none;
    }

    header {
        display: block;
        margin: 0 auto;
    }

    .right-side-header {
        margin-right: 0;
    }

    .nav-bar-header ul li a {
        margin: 0 auto;
    }
}

@media screen and (max-width: 1000px) {
    .presentation-flex {
        flex-direction: column-reverse;
        background-color: #142cc8;
    }

    .presentation h2 {
        margin: 20px 10px;
    }

    .presentation-left p {
        padding: 20px;
    }

    .link-presentation {
        padding: 200px 0;
    }
}

/* 
@media screen and (max-width: 1280px){}
@media all and (orientation: portrait){}
*/